@model IEnumerable<Gtd.Web.Models.TaskModel>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<div class="card">
    <a href="#" id="quick-create-toggle" data-toggle="dropdown" arai-expanded="false">Create new</a>
    <form class="dropdown-menu p-4" asp-action="Create" aria-labelledby="quick-create-toggle">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" placeholder="..." required="required" />
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="Important" value="true"/>
            <label class="form-check-label" for="Important">
            Important
            </label>
        </div>
        <div class="group form-check">
            <input type="checkbox" class="form-check-input" name="Urgent" value="true"/>
            <label class="form-check-label" for="Urgent">
            Urgent
            </label>
        </div>
        <input type="hidden" name="CompletionStatus" value="0" />
        <input type="hidden" name="DueDate" value="@DateTime.Today.AddDays(7).ToString("yyyy-MM-dd")" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<br />
<div class="card" style="overflow-x: auto">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th></th>
                <th>
                    <a asp-action="Index">Title</a>
                </th>
                <th>
                    <a asp-action="DueDate">DueDate</a>
                </th>
            </tr>
            
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="#" id="menu-toggle-@item.Id" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div id="menu-@item.Id" class="dropdown-menu sidebar-dropdown preview-list" aria-labelledby="menu-toggle-@item.Id">
                        <a asp-action="Complete" asp-route-id="@item.Id" class="dropdown-item">Complete</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                    </div>
                </td>
                <td>
                    @if(item.Urgent) { <span>❗</span>  } else { <span>&#160;&#160;</span> } 
                    @if(item.Important) { <span>🌟</span>  } else { <span>&#160;&#160;&#160;</span> }
                    @Html.DisplayFor(modelItem => item.Title)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $.ready(function() {

        });
    </script>
}