@model IEnumerable<Gtd.Web.Models.TaskViewModel>

@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<div class="card">
    <a href="#" id="quick-create-toggle" data-toggle="dropdown" arai-expanded="false">Create new</a>
    <form class="dropdown-menu p-4" asp-action="Create" aria-labelledby="quick-create-toggle">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" placeholder="..." required="required" />
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="Important" value="true"/>
            <label class="form-check-label" for="Important">
            Important
            </label>
        </div>
        <div class="group form-check">
            <input type="checkbox" class="form-check-input" name="Urgent" value="true"/>
            <label class="form-check-label" for="Urgent">
            Urgent
            </label>
        </div>
        <input type="hidden" name="CompletionStatus" value="0" />
        <input type="hidden" name="DueDate" value="@DateTime.Today.AddDays(7).ToString("yyyy-MM-dd")" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<br />
<div class="card table-responsive"  style="min-height: 300px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a asp-action="Index">Title</a>
                </th>
                <th>Due Date</th>
            </tr>
            
        </thead>
        <tbody id="sortable">
    @foreach (var item in Model.OrderBy(i => i.Sort)) {
            <tr data-sort-index="@item.Sort" data-id="@item.Id">
                <td>
                    <a href="#" id="menu-toggle-@item.Id" class="dropdown-toggle" data-boundary="viewport" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div id="menu-@item.Id" class="dropdown-menu sidebar-dropdown preview-list" aria-labelledby="menu-toggle-@item.Id">
                        <a asp-action="Complete" asp-route-id="@item.Id" class="dropdown-item">Complete</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                    </div>
                </td>
                <td>
                    @if(item.Urgent) { <span>❗</span>  } else { <span>&#160;&#160;</span> } 
                    @if(item.Important) { <span>🌟</span>  } else { <span>&#160;&#160;&#160;</span> }
                    @Html.DisplayFor(modelItem => item.Title)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#sortable').sortable({
            deactivate: function(event, ui) {
                var id = ui.item.data('id');
                var prevIndex = Number.MIN_VALUE, nextIndex = Number.MAX_VALUE, newIndex = 0, topOfList = false, bottomOfList = false;
                if(ui.item.prev().is('tr')){
                    prevIndex = parseFloat(ui.item.prev().attr('data-sort-index'));
                } else {
                   topOfList = true;
                }
                if(ui.item.next().is('tr')){
                    nextIndex = parseFloat(ui.item.next().attr('data-sort-index'));
                } else {
                    bottomOfList = true;
                }
                if(topOfList && bottomOfList){
                    newIndex = 0;
                } else if (topOfList){
                    newIndex = nextIndex - 1;
                } else if (bottomOfList) {
                    newIndex = prevIndex + 1;
                } else{
                    newIndex = (prevIndex + nextIndex) / 2.0;
                }

                //ui.item.find('#sort-column').html(newIndex);
                ui.item.attr('data-sort-index', newIndex);
                $.ajax('/Task/SetSort', {
                    data: 'sort=' + newIndex + '&id=' + id,
                    method: 'PATCH'
                });
            }
        });
    </script>
}