@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gtd by John Moore</title>
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dark-style.css" />
</head>
<body class="sidebar-icon-only">
        <div class="container-scroller">
            @if (SignInManager.IsSignedIn(User))
            {
                <nav class="sidebar sidebar-offcanvas hide" id="sidebar">
                    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                        <a class="sidebar-brand brand-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" alt="logo"></a>
                        <a class="sidebar-brand brand-logo-mini" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-mini.svg" alt="logo"></a>
                    </div>
                    <ul class="nav">
                        <li class="nav-item profile">
                            <div class="profile-desc">
                            <div class="profile-pic">
                                <div class="count-indicator">
                                    <img class="img-xs rounded-circle " src="~/images/faces-clipart/pic-4.png" alt="">
                                </div>
                                <div class="profile-name">
                                    <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                                    <span>Gold Member!!!!!!!!!!!!!!!!</span>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-category">
                            <span class="nav-link">Navigation</span>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item menu-items">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <span class="menu-icon">
                                <i class="mdi mdi-shield-lock"></i>
                            </span>
                            <span class="menu-title">Privacy</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            <div class="container-fluid page-body-wrapper">
                <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                            <span class="mdi mdi-menu"></span>
                        </button>
                    }
                    <ul class="navbar-nav w-100"></ul>
                    <ul class="navbar-nav navbar-nav-right">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link " id="profileDropdown1" href="#" data-toggle="dropdown">
                                    <div class="navbar-profile">
                                        <img class="img-xs rounded-circle" src="~/images/faces-clipart/pic-4.png" alt="">
                                        <p class="mb-0 d-none d-sm-block navbar-profile-name">@User.Identity.Name</p>
                                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown1">
                                    <form  class="p-3 mb-0 text-center" action="Identity/Account/Manage" method="get">
                                        <button  type="submit" class="nav-link btn btn-link ">Profile</button>
                                    </form>
                                    <div class="dropdown-divider"></div>
                                    
                                    <form  class="p-3 mb-0 text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button  type="submit" class="nav-link btn btn-link ">Logout</button>
                                    </form>
                                </div>
                                @* <partial name="_LoginPartial" /> *@
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    { 
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                            <span class="mdi mdi-format-line-spacing"></span>
                        </button>
                    }
                    
                </div>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">&copy; 2020 - John Moore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
                    <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
    
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/vendors/js/vendor.bundle.base.js"></script> *@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
</body>
</html>
