@model IEnumerable<Gtd.Web.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="card">
    <a href="#" id="quick-create-toggle" data-toggle="dropdown" arai-expanded="false">Create new</a>
    <form class="dropdown-menu p-4" asp-action="Create" aria-labelledby="quick-create-toggle">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" name="Title" placeholder="..." required="required" />
        </div>
        <input type="hidden" name="CompletionStatus" value="0" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<br />
<div class="card table-responsive"  >
    <table class="table table-striped" data-boundary="window" style="min-height: 300px;">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a asp-action="Index">Project</a>
                </th>
                <th>
                    <a asp-action="DueDate">Tasks</a>
                </th>
            </tr>
            
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="#" id="menu-toggle-@item.Id" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div id="menu-@item.Id" class="dropdown-menu sidebar-dropdown preview-list" aria-labelledby="menu-toggle-@item.Id">
                        <a asp-action="Complete" asp-route-id="@item.Id" class="dropdown-item">Complete</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                        <div class="dropdown-divider"></div>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutstandingTasks)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>